@import '_common_';

#legend-modal{
    .modal-content{
        table {
            td {
                font-size: 15px;
            }
            span {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}

    